﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="homeHeader" class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The best jokes and developer humor you'll ever find on your local host.</a>.</p>
</div>
